figshare dataset/
INBreast/
nuevo_entorno/
balanced_images.png
Clustering_images.png
intensity_ratio_propagation.png
MLO_peripheral_area.png
parallel_lines_thickest_point.png
ratios_propagated.png
separate_periphery.png
